.container{
  margin:0 auto;
  width: 80%;
  height: inherit;
}

.App{
  
 /* min-height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: space-between; */
 
}
button{
  cursor: pointer;
}

a{
  text-decoration: none;
}