.allnews .title-news{
    height: 10vh;
    width: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 50px;
}
.allnews .container {
    height: fit-content;
}
.allnews .title-news h4{
    background: -webkit-linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    letter-spacing: 5px;
    font-weight: 800;
   
}
.allnews .element-news{
    overflow: hidden;
    height: 40vh;
    display: flex;
    border-radius: 50px;
    background: -webkit-linear-gradient(-225deg, #B7F8DB 0%, #50A7C2 100%);
    
    justify-content: space-between;
    width: 100%;
    margin-bottom: 60px;
}
.allnews .element-news .image-news{
    height: 100%;
    width: 33%;
}
.allnews .MuiPagination-root{
    width: 100%;
    display: grid;
    place-items: center;
}
.allnews .MuiPagination-root ul{
    width: fit-content;
}
.allnews .element-news .image-news img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.allnews .element-news .text-news{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 62%;
}
.allnews .element-news .text-news a{
    color:blue;
    text-decoration: static !important;
}
.allnews .element-news .text-news h3{
    margin-top: 20px;
    font-size: 30px;
}
.date-image{
    opacity: 0.7;
    font-style: italic;
    align-self: flex-end;
    margin-bottom: 15px;
    margin-right: 20px;
}