.history-college {
    height: 90vh;
    background-image: url("https://i.ibb.co/7GfKpgZ/History.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /*фотка на бек*/
    color: white;
}

.history-college .container {
    position: relative;
}

.history-college-text {
    position: absolute;
    bottom: 70px;
}

.history-college-title {
    padding: 5px;
    font-size: 25px;
    font-weight: 300;
    background-color: rgba(39, 177, 85, 0.7);
}

.history-college-info {
    font-size: 50px;
    font-weight: 700;
}