.courses {
    height: 350px;
    background-color: #1b2945;
    color: #fff;
}

.courses .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}

.courses .container .courses-text {
    font-size: 20px;
    text-align: center;
    line-height: 45px;
}

.courses .container .courses-text .courses-text-title {
    font-size: 26px;
    margin-bottom: 30px;
    font-weight: 700;
}

.courses .container .courses-text .courses-text-intro {
    font-size: 20px;
}

.courses .container  .courses-icon-arrow p {
    font-size: 25px;
    color: rgb(101, 180, 101);
    transition: color .5s;
}

.courses .container .courses-icon-arrow p:hover {
    color: white;
    transition: .5s;
}

.courses .container .courses-icon-arrow .courses-button {
    display: flex;
    align-items: center;
}

.courses .container .courses-icon-arrow .fa-angle-right {
    font-weight: 400;
    margin-left: 10px;
    margin-top: 4px;
}

@media(max-width:426px){
    .courses{
        padding: 30px 0;
        height: fit-content;
    }
    .courses .container {
        flex-direction: column;
    }
    .courses .container .courses-text .courses-text-title {
        font-weight: 400;
    }
    .courses .container .courses-text .courses-text-title {
        font-size: 20px;
    }
    .courses .container .courses-text {
        font-size: 20px;
        text-align: center;
        line-height: 25px;
    }
    .courses .container .courses-icon-arrow .courses-button {
        margin-top: 20px;
        font-size: 20px;
    }
}