.durector{
    margin-top: 50px;
    width: 100%;
    height: 90vh;
    display: grid;
    place-items: center;
}
.info-durector{
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}

.info-durector .header-durector{
    height: 20%;
    width: inherit;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}
.info-durector .header-durector .element{
   display: grid;
   place-items: center;
   height: fit-content;
}
.info-durector .header-durector .element .text p{
    font-size:20px;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
}
.info-durector .images-durector{
    height: 80%;
    width: 100%;
    width: inherit;
    display: flex;
}

.info-durector .images-durector img{
    width: 100%;
    object-fit: cover;
    height: 143%;
    
}
.info-durector .images-durector .img-durector{
    width: 50%;
    height: 100%;
}
.info-durector .images-durector .img-durector-info{
    width: 50%;
    height: 100%;
    background-image: url('https://i.ibb.co/1mmrSb6/WP-20191109-15-54-00-Pro-1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.img-durector-info .text{
    text-align: justify;
    margin: 60px;
    
    color:white;
    text-indent: 20px;
}
.img-durector-info .text p{
    font-size: 24px;

    font-weight: 300;
}
.img-durector-info .text .cutata{
     margin: 10% 0 0;
    font-size: 20px;
    font-style: italic;
    text-align: right;
    font-weight: 300;
}
@media (max-width:426px){
    .durector .container{
        width: 90% !important;
        margin-bottom: 30px;
    }
    .info-durector .header-durector{
        height: fit-content;
        width: inherit;
        display: grid;
        grid-template-columns: 1fr ;
        grid-gap: 10px;
        place-items: center;
    }
    .info-durector{
        height: fit-content;
    }
    .durector .header-durector{
        margin: 20px 0;
    }
    .durector{
        margin-top: 50px;
        width: 100%;
        height: fit-content;
        display: grid;
        place-items: center;
    }
    .info-durector .images-durector{
        flex-direction: column;
        height: 100vh;
    }
    .info-durector .images-durector .img-durector{
        width: 100%;
        height: 50%;
       
    }
    .info-durector .images-durector .img-durector img{
        height: 100%;
       
    }
    .info-durector .images-durector .img-durector-info{
       
    }
    .info-durector .images-durector .img-durector-info{
        width: 100%;
        height: 50%;
        position: relative;
    }
    .img-durector-info .text{
        height: fit-content;
    }
    .img-durector-info .text p{
        font-size: 18px;
        font-weight: 300;
    }
    .img-durector-info .text{
        text-align: justify;
        margin: 20px;
        
        color:white;
        text-indent: 20px;
    }
    .header-durector .element{
        display: flex !important;
        width: 70%;
        justify-content: space-between;
    }
    .header-durector .element .text p{
        text-align: right !important;
        font-weight: 400 !important;
        font-size: 18px !important;
    }
    .aboutInfo .preview{
        width: 100%;
    }
    .aboutInfo .preview img{
        width: 100%;
    }
}