
.linksother{
    background-color: #181818;
    padding: 40px;
    
    border-bottom: 2px black solid;
}
.linksother .container .mainblock{
    height: fit-content;
    display: flex;
    flex-direction: column;
    width: 100%;
   
}
.linksother .container .mainblock .links{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap:20px;
    height: 10vh;
    width: 100%;
}

.linksother .container .mainblock .links img{
    opacity: 0.5;
    object-fit: contain;
    height: 100%;
}.linksother .container .mainblock .links img:hover{
    opacity: 1;
}
.linksother .container .mainblock .arrow{
    display: none;
    place-items: center;

}
.linksother .container .mainblock .arrow{
    height: 2vh;
    font-size: 40px;
}
.linksother .container .mainblock .arrow i{
    cursor: pointer;
    height: 100%;
}

.subblock{
    
    height: fit-content ;
    width: 100%;
    display: none;  
    margin-bottom: 40px;
}

.subblock .slick-slider{
    width: inherit;
    height: 50vh;
}
.subblock .slick-list{
    width: inherit;
    display: grid;
    height:50vh;
}
.subblock .slick-list img{
    object-fit:contain;
}
.subblock .elem-slick{
    display: grid !important;
    grid-gap: 20px;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
}
.subblock a img{
    height: 100%;
    width: 100%;
}
