.page .container .title h1{
    text-align: center;
    color:#26B27C;
    font-size: 40px;
}

.page .container{
    background: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.6);
    padding-bottom: 30px;
}


.page .container .title {
    padding: 20px 0;
}

.page{
    background: url("http://college-chnu.cv.ua/pages/background.jpg");
    
    background-repeat: repeat;
    background-position: 0 0;
    background-attachment: fixed;
}

.page .container .pageInfo{
    
    width: 90%;
    margin: auto;
}
.page .universal-page-container{
    width: 100%;
    height: 100%;
   
   display: grid;
   grid-template-columns:  25% 70%;
   grid-gap: 5%;
}

.scroll-sidebar{
    position: relative;
}
.page .pageInfo img{
    max-width: 100%;
}

.page p {
    margin-bottom: 0 !important;
}