.administration-info {
    margin: 50px auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    border: 3px solid #1A3853;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(8, 8, 71, 0.24);
}

.administration-info img {
    height: 40vh;
}

.administration-text {
    margin-left: 50px;
    text-align: center;
    width: 100%;
}

.administration-post {
    margin-bottom: 20px;
}

.administration-name {
    font-size: 30px;
    width: 100%;
    margin-bottom: 20px;
    color:  rgb(101, 180, 101);
    font-weight: 800;
}

@media (max-width: 426px){ 
    .administration-info {
        display: flex;
        flex-direction: column;
    }

    .administration-info img {
        height: 30vh;
    }

    .administration-text {
        margin: 10px auto;
    }

    .administration-post {
        font-size: 20px;
    }

    .administration-name {
        font-size: 16px;
        text-align: center;
    }

}
